@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$primary-color: #092353; 
$secondary-color: #5972A3;
$background-color: #F5F7FB;
$border-color: #DBDFE8;
$button-bg: #B9C5DC;
$button-text-color: #092353;
$button1-bg: #D6D6D6;
$button1-text-color: #444;
$active-btn-bg: #5EC869;
$active-btn-text-color: #114F14;
$text-color: #444;
$font-family: 'Roboto';

@mixin transition($property, $duration) {
  transition: $property $duration ease-in-out;
}

@mixin font($size, $weight) {
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  line-height: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  @include transition(all, 0.35s);
}

#sidebar {
  min-width: 50px;
  z-index: 1000;
  background-color: #062F75;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100vh;
  @include transition(width, 0.25s);

  &.expand {
    width: 260px;
  }

  .sidebar-logo {
    margin: auto 0;
    a {
      color: #FFF;
      font-size: 1.15rem;
      font-weight: 600;
    }
  }

  .sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
  }

  &.expand .sidebar-logo,
  &.expand a.sidebar-link span {
    animation: fadeIn 0.25s ease;
  }

  &:not(.expand) {
    .sidebar-logo,
    a.sidebar-link span {
      display: none;
    }
  }
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 1rem 1.5rem;

  i {
    font-size: 1.5rem;
    color: #FFF;
  }
}

.navbar {
  background-color: $button-bg;
  width: 1317px;
  height: 50px;

  &-expand .navbar-collapse {
    min-width: 200px;
  }
}


.avatar {
  width: 40px;
  height: 40px;
}


.imgkalyanlogo {
  width: 19.654px;
  height: 29.197px;
margin-left: -10px;
}

.imgjuelog {
  width: 34px;
  height: 22px;
}
.bg-layer{
   
        background-color: #F5F7FB !important;
    }



.card {
  width: 288px;
  height: 80px;
}

.box,
.box4,
.box5,
.box6,
.box7 {
  background-color: #FFF;
  border: 1px solid $border-color;
  margin: 8px;
  padding: 0;
  border-radius: 1px;
}

.box4 { width: 157.756px; height: 58.907px;  border-radius: 1px; }
.box5 { width: 157.756px; height: 58.907px;  border-radius: 1px; }
.box6 { width: 172.528px; height: 58.907px;   border-radius: 1px;}
.box7 { width: 250.737px; height: 58.911px;   border-radius: 1px;}


.boxhead{
  color: var(--Secondary-label, #5972A3);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 7px; 
  
  margin-top: 5px;
}

.boxheaddata{
  width: 76px;
  height: 15px;
  flex-shrink: 0;
  width: 490px;
  height: 15px;
  flex-shrink: 0;
  color: #092353;
  padding: 2px;
  margin-left: -2px;
  
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}



.custom-button,
.custom-button1 {
  display: inline-flex;
  justify-content: center;
  margin-left: -30px;
  align-items: center;
  border-radius: 4px;
  @include font(12px, 500);
}

.custom-button {
  width: 140px;
  height: 25px;
  padding: 6px 13px;
  border: 1px solid $button-bg;
  background: $button-bg;
  color: $button-text-color;
  opacity: 0.7;
}

.custom-button1 {
  color: $button1-text-color;
  background: $button1-bg;
  padding: 5px 11px;
  font-weight: 500;
}

.activebutton {
  display: inline-flex;
  padding: 5px 11px;
  border-radius: 4px;
  background: $active-btn-bg;
  color: $active-btn-text-color;
  margin-left: -10px;
  
  @include font(12px, 500);
}

.layer2-gap1
{
  margin-left: 60px
}


.tcr,
.tcr1 {
  @include font(12px, 500);
}

.tcr {
  width: 128px;
  height: 20px;
  color: $primary-color;
  font-size: 17px;
}

.tcr1 {
  color: $primary-color;
  font-size: 13px;
  border-radius: 0 4px 4px 0;
  border: 1px solid $border-color;
  background: #FFF;
}

.balanceaccount,
.balanceweight,
.duedate,
.customerdetails {
  @include font(12px, 500);
  color: $secondary-color;
  text-align: right;
  padding: 17px
}

.balanceaccount-number,
.balanceweightnumber,
.duedatedate,
.customername {
  @include font(16px, 500);
  color: $primary-color;
  

  
}

.balanceaccount,
.balanceweight,
.duedate,
.customerdetails {
  width: auto;
  
 
  // padding: 2px;
}

.balanceaccount-number {
  width: 76px;
  height: 14px;
  margin-left:150px;

 
}
.gapbalanceaccount
{
  margin-left: 280px;
  margin-top: -0.5rem;
}


.gapbalanceaccount-number
{
  margin-left: 115px;
  margin-top: -1.6rem;
}

.balanceaccount
{
  margin-left:102px;
}


.balanceweightnumberlayer2
{
  margin-top:-0.5rem;
  margin-left: 13px;

 
  @include font(16px, 500);
  color: black;
  // text-align: right;
  // padding: 17px;
   
  color: #092353;

font-family: Roboto;
font-style: normal;

line-height: normal;
}


.balanceweightlayer2{
  margin-top: 0.85rem;
  margin-left: 21px;
  width: auto;
  @include font(12px, 500);
  color: $secondary-color;
  // text-align: right;
  // padding: 17px
}

.duedatedatelayer2
{
  margin-top: -0.550rem;

  margin-left: -30px;
 
  color: #092353;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }
  .cbox-layer2{
    margin-top: -0.8rem;

  }
  
  

 .bal-bal-layer2gap
{
  margin-left: -40px;
}
.balanceweight {
  width: 96px;
  height: 14px;
  margin-left: 24px;
  margin-top: -0.80rem;
 
}

.balanceweightnumber {
  width:95px;
  height: 19px;
  margin-left: 35px;
}
.bal-due-gap{
  margin-left: -22px;
}
.bal-due-gaplayer2
{
  margin-left:-35px;
}
.bal-bal-gap {
  margin-left: -1px;

}

.duedate {
 width: 86px;
height: 14px;
flex-shrink: 0;
margin-left: -26px;
margin-top: -0.80rem;

}
.layer2duedate{

  margin-left: -50px;
  margin-top: -0.3rem;

}

.cbox-layer2{
  margin-left: 50px;
}
.cdetailslayer2{
  margin-top: -2.35rem;

}

.gap-date-cus{
  margin-left: -23px;

}


.duedatedate {
  width: 86px;
  height: 19px;
  margin-left: -4px;
}

.hidelink {
  @include font(13px, 400);
  color: $secondary-color;
  text-decoration-line: underline;
  margin-left: 20px;
}

.small-vline {
  width: 1px;
  height: 48px;
  opacity: 0.75;
  margin-top: -0.70rem;
 
  background: $border-color;
}

.tcrvlinegap
{
  margin-left:63px ;
 
}

.kalyanheading {
  color: $primary-color;
  font-style: normal;
  line-height: normal;
  @include font(18px, 700);
  margin-left: -10px
}

.tranfer,
.salesorderadvance {
  @include font(12px, 500);
}

.tranfer { color: $secondary-color; }
.salesorderadvance { color: $primary-color; font-size: 13px; }

.salesorderadvance {
  margin-left: -20px;
}



.table {
  width: 1387px;
  height: 157.068px;
  opacity: 0.9;
}

// .th-gap1{
  
// }

td {
  color: $primary-color;
  @include font(13px, 500);
}

thead,
.thead-color {
  color: $secondary-color;
  @include font(12px, 500);
}


.ekm {
  @include font(17px, 500);
  color: $primary-color;
  width: 128px;
  height: 20px;
}
.footer-margin{
  margin-left: -20px;
}
.footer1 {
  width: 1366px;
  height: 768px;
  background: #F6F7FB;
}

.muziris {
  @include font(10px, 400);
  color: $primary-color;
}

.layer1,
.layer2 {
  flex-shrink: 0;
  background-color: $background-color;
}

.layer1 {

  width: 1394.5px;
  height: 58.907px;
  flex-shrink: 0;
border-radius: 1px;}


.layer2 {width: 1390.5px;
  height: 64.907px;
border-radius: 1px}

.cbox {
  display: flex;
  width: 317px;
  height: 48px;
  padding: 2px 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: -0.60rem;
  
  
}
.cbox1 {
  display: flex;
  width: 317px;
  height: 48px;
  padding: 2px 10px;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: -0.60rem;
  margin-left: -32px;
  
}

.cbox-layer2{

  margin-top: -0.60rem;
  margin-left: -30px;

}

.cdetails,
.cdata {
  @include font(12px, 500);
}


.cdetails { color: $secondary-color;
  margin-top: 1px;
 

}
.cdata { color: $primary-color; @include font(16px, 500);
  margin-top: -0.50rem;
}
.order-wt{
  margin-top: -0.05rem;



.ordergram{
  margin-top: -0.40rem;

}}
.img-not {
  width: 13px;
  height: 14px;
  color: #0749BE;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  margin-left: -10px;
  margin-top: -2.5rem;
 
}
.img-notorder {
  width: 13px;
  height: 14px;
  color: #0749BE;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  margin-left: 65px;
  margin-top: 0.80rem;
 
}

.img-not2 {
  width: 13px;
  height: 14px;
  color: #0749BE;
  font-family: "Font Awesome 6 Pro";
  font-size: 14px;
  margin-left: -20px;
  margin-top: -1.1rem;
}


.img-box {
  width: 20px;
  height: 19px;
  border-radius: 2px;
  background: #D9DFE9;
}

.sidebar-footer {
  margin-top: auto;
}

img.imglogo,
img.imgjuelogo {
  width: 34px;
  height: 22px;
}

.navbar-location {
  @include font(15px, 500);
  color: $primary-color;
}

.navbar-bell {
  width: 16px;
  height: 16px;
}

.transfer {
  @include font(12px, 500);
  color: $secondary-color;
  margin-left: -10px;
  
}

.card-box,
.x-icon {
  background: #FFF;
  border: 1px solid $border-color;
}
.x-section{
  margin-top: -0.14rem;
}
.x-icon {
  width: 37.956px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  padding: 12px;

}

.card-box {
  width: 179px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}



.tcrsplit {
  @include font(13px, 500);
  color: $primary-color;
}

.details {
  width: 1300px;
}

.threelayerdiv {
  background-color: rgba(225, 234, 240, 0.5);
  width: 1410px;
  height: 336px;
  margin-left: 5px;
}
.mt-neg-1 {
  margin-top: -0.50rem;
}
.lengthlayer2
{
  width: 1410px;
  
}

.content{
  height:170px;

}

.soa-button{
  display: inline-flex;
  padding: 6px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #194FD5;
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;


width: 140px;
height: 38px;
}


.margin1
{
  margin-left: -5px;
}


/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
